# fastapi
# uvicorn
# python-multipart
# sentence-transformers
# chromadb
# pymupdf
# python-docx
# requests
# pydantic

# fastapi
# uvicorn
# python-dotenv
# pymongo
# requests
# openai
# pydantic

# fastapi
# uvicorn
# python-dotenv
# pymongo
# openai
# pydantic
# python-multipart

fastapi
uvicorn
pymongo
numpy
python-dotenv
groq
sentence-transformers
torch==2.3.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
